body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin: 0;
  text-align: left;
  color: #293c4b;
}

.annotation {
  font-size:14px;
}
.annotation-highlighted {
  font-size:14px;
  color:orange;
}

img {
  margin: 18px 0;
  max-width: 200px;
}
